<article>
    <h4>Caracteristicas</h4>
    <br>
    <div class="divider"></div>
    <br><br>
    <p>
        El Material design proviene de su nombre, material, lo cual significa que esta basado en objetos materiales
        colocados en un lugar y con un movimiento o tiempo determinado.
        Este diseño juega con la profundidad, superficies, bordes, sombras y colores para intentar representar la realidad.
    </p>
    <br>
</article>