<article>
    <h4>Objetivos</h4>
    <br>
    <div class="divider"></div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col s9 push-s3"><span class="flow-text">
          <h5>Crear</h5>
          <p>La creación de un lenguaje visual que sintetice los principios basicos del diseño con la inovación y posibilidad de la ciencia y tecnologia</p>
        </span></div>
        <div class="col s3 pull-s9"><span class="flow-text"><br><i class="large material-icons" id="icon">add_circle</i></span></div>
        <div class="col s9 push-s3"><span class="flow-text">
          <h5>Unificar</h5>
          <p>Desarrolar un unico sistema que unifique la experiencia del usuario en plataformas y dispositivos.</p>
        </span></div>
        <div class="col s3 pull-s9"><span class="flow-text"><br><i class="large material-icons" id="icon">group_add</i></span></div>
        <div class="col s9 push-s3"><span class="flow-text">
          <h5>Personalizar</h5>
          <p>Ezpandir el lenguaje visual basado en materiales y brindar una base flexible para la innovación de la expresión de la marca.</p>
        </span></div>
        <div class="col s3 pull-s9"><span class="flow-text"><br><i class="large material-icons" id="icon">color_lens</i></span></div>
      </div>
    </div>
    <br>
</article>