<article>
    <h4>Preguntas</h4>
    <br>
    <div class="divider"></div>
    <br><br>
        <li>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</li>
        <p>Proporciona un comportamiento a las paginas de escritorio parecido al comportamiento de las paginas web.</p>
        <li>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</li>
        <p></p>
        <li>¿Qué es JSON?</li>
        <p>JavaScript Object Notation, es un sistema ligero de intercambio de datos.</p>
        <br>
</article>
<article>

</article>