<a href="InterfazOrg.php" class="brand-logo center">Cancelar Registro</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="informacion-usuario.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>
<div class="row col s12">
  <br>
  
<div class="row" id="formaEditarOrg">
    <div class="row s12" align="center">
      <h3>Datos del usuario</h3>
      <br>
      <br>
    </div>
    <div class="col s1">
    </div>
    <div class="col s10">

      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Personales de Jugador</h4>
        </li>
        <li class="collection-item"><span class="title">Nombre de usuario</span>
          <div><input disabled  id="userEditarOrg" type="text" value="<?=$arrayEditarOrganizador[0]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Nombre</span>
          <div><input id="nombreEditarOrg" type="text" value="<?=$arrayEditarOrganizador[3]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Apellido Paterno</span>
          <div><input id="apEditarOrg"  type="text" value="<?=$arrayEditarOrganizador[4]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Apellido Materno</span>
          <div><input id="amEditarOrg"  type="text" value="<?=$arrayEditarOrganizador[2]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Correo</span>
          <div><input id="correoEditarOrg" type="text" value="<?=$arrayEditarOrganizador[1]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Telefono</span>
          <div>
            <div><input id="telefonoEditarOrg"  type="text" value="<?=$arrayEditarOrganizador[5]?>" maxlength="20"></div>
          </div>
        </li>
      </ul>
      <div class="row" style="display: block;">
              <div class="col s12" align="center" id="encabezadoMensajeEditarOrganizador" style="color: #ff4d4d" >
              </div>
            </div>
      <div class="center-align">
        <button id="botonEditarOrg"  class="btn waves-effect waves-light btn-large pink">Guardar Cambios 
                <i class="material-icons right">save</i>
        </button>
      </div>
      <div class="col s12" align="center">
        <br>
          <a href="InterfazOrg.php" class="btn waves-effect waves-light btn-large pink" id="botones">Regresar 
            <i class="large material-icons right">keyboard_return</i>
          </a>
      </div>
    </div>
  </div>

  <div class="container center-align" id="circuloCarga_EditarOrg" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <div class="container" id="mensajeEditarOrg" style="display: none;">
    <div class="row">

      <div class="col s12 center-align">
        <br>
        <br>
        <h3 id="confirmacionEditarOrg"></h3>
        <br>
        <br>
      </div>

      <div class="col s12">
        <br>
        <br>
        <div class="col s12" align="center">
          <a href="InterfazOrg.php" class="btn " id="botones">Regresar
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>