<a href="../index.php" class="brand-logo center">Consultar premios</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a  href="pagina-principal.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
    <li><a href="pagina-principal.php">Menu</a></li>
  </ul>
    </div>
  </nav>
  <br>


    <div class=" container">

       
        <div class="section">
            <div class="row">
                <div class="col s7">
                    <h4>Premios</h4>
                </div>
                <a class="right btn-floating btn-large waves-effect waves-light red" href="agregar_premio.php"><i class="material-icons">add</i></a>
            </div>
        </div>
<label for="torneo">Selecciona un torneo</label>
<?= crear_select('idTorneo', 'nombre', 'torneo') ?>
<br>
<label for="tipoPremio">Selecciona un tipo de premio</label>
     <select id="tipoPremio" name="tipoPremio">
                <option selected value="" disabled selected>Selecciona un tipo de premio</option>
                <option value="">Ver todos</option>
                <option value="O'Yes">O'Yes</option>
                <option value="Hole-in-one">Hole-in-one</option>
                <option value="Por equipo">Por equipo</option>
            </select>
            <label>Selecciona un tipo de premio</label>

            <br>
        <button id="buscarPremios" class="waves-effect waves-light btn">Buscar</button>
        <br>
        <br>
