        <a href="InterfazOrg.php" class="brand-logo center">Eliminar Organizador</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a  href="InterfazOrg.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
          <li><a href="InterfazOrg.php">Menu</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" id="primerSelect">
      <div class="row">
        <h3 align="center">Seleccione metodo de eliminación</h3>
      </div>
      <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <select id="seleccionarBusqueda">
                <option value="" disabled selected>Seleccione como buscar al organizador</option>
                <option value="1">Por nombre de usuario</option>
                <option value="2">Por nombre</option>
              </select>
              <label>Metodo de busqueda</label>
            </div>
          
          <div class="row center">
              <button id="seleccionarMetodo" class="btn waves-effect waves-light btn-large pink">Seleccionar
                <i class="material-icons right">check</i>
              </button>
          </div>
      </div>
    </div>


    <div class="container" id="metodosBusquedaUser" style="display: none; ">
      <div class="row">
        <div class="row">
          <h3 align="center">Seleccione el nombre de usuario del organizador a borrar</h3>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
              <?=crear_select("nombreUsuario", "nombreUsuario", "organizador");?>
          <label>Por nombre de usuario</label>
        </div>
      </div>
    </div>

    <div class="container" id="metodosBusquedaNombre" style="display: none; ">
      <div class="row">
        <div class="row">
          <h3 align="center">Seleccione el nombre del organizador a borrar</h3>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
              <?=crear_select_append("nombreUsuario", "nombre", "apellidoPaterno", "apellidoMaterno", "organizador");?>
          <label>Por nombre de organizador</label>
        </div>
      </div>
    </div>


    <div class="container" id="botonBorrar" style="display: none;">
      <div class="center-align">
           <a class="modal-trigger"href="#modal1"><button class="btn waves-effect waves-light btn-large pink">Eliminar
             <i class="material-icons right">delete</i>
           </button></a>
      </div>
      <div id="modal1" class="modal center-align">
        <div class="modal-content">
          <h5 class="center-align"id="registro">¿Confirmar eliminación?</h5>
          <p>Esta acción no podrá revertirse en un fututo</p>
        </div>
        <br>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align" id="borrarOrg" >Confirmar</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align" >Cancelar</a>
        <div class="modal-footer center-align">         
        </div>
      </div>
      <br>
      <br>
    </div>

    <div class="container" id="menasjeBajaOrg" style="display: none;">
      <div class="row">

        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="tituloBajaOrganizador">Se eliminó exitosamente al organizador</h3>
          <i class="medium material-icons" id="iconoRespuesta">check_box</i>
          </div>
          <br>
          <br>
        </div>
        
        <div class="col s12" align="center">
          <a href="InterfazOrg.php" class="btn " id="botones">Regresar al menú  
            <i class="large material-icons right">keyboard_return</i>
          </a>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="BajaOrg.php" class="btn " id="botones">Eliminar otro organizador 
            <i class="large material-icons right">delete</i>
          </a>
        </div>
      </div>
    </div>


    <div class="container" id="metodosBusqueda" style="display: none; ">
      <div class="row">
        <div class="row">
          <h3 align="center">Seleccione el nombre de usuario del organizador a borrar</h3>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
              <?=crear_select("idOrganizador", "nombreUsuario", "organizador");?>
          <label>Por nombre de usuario</label>
        </div>
      </div>
    </div>

  <div class="container center-align" id="circuloCarga_BajaOrg" style="display: none;">
  <br>
  <br>
  <br>
  <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
          </div>
      </div>
    </div>
      <br>
      <br>
      <br>
  </div>

  
    <div class="container" id="botonBorrar" style="display: none;">
      <div class="row center">
              <button id="seleccionarMetodo" class="btn waves-effect waves-light btn-large pink">Borrar
                <i class="material-icons right">delete</i>
              </button>
          </div>
    </div>