<a href="../index.php" class="brand-logo center">Crear Equipos</a>
</div>
</nav>
<div class="wrap-crearEquipo" id="wrap-editarEquipo">
  <div class="row" id="formaEquipoEditar">
    <div class="col s8">
      <div class="input-field col s12 grey lighten-2">
        <i class="material-icons prefix">search</i>
        <input placeholder="Buscar" type="text" class="validate" onkeyup="leerConsultaEditar(<?= $equipo_id ?>)"
          id="caja_busquedaEditar">
      </div>
      <br>
      <div class="tablaParticipantes col s12" id="tablaParticipantesEditar">
        <?php
              echo consultar_casosEquipoEditar("",$equipo_id);
              ?>
      </div>
    </div>
    <div class="col s3 center-align">
      <ul class="collection with-header  z-depth-3">
        <li class="collection-header">
          <div class="row">
            <div class="col s6">
              <h5>Equipo: <?= $equipo_id ?></h5>
              <div class="input-field col s12">
                <input id="hoyoInicialEditar" type="number" class="validate" min="0" value="<?= $hoyoInicial ?>">
                <label for="hoyoInicial">Hoyo inicial</label>
              </div>
            </div>
            <div class="col s1"></div>
            <div class="col s5">
              <div class="col s6 right-align right-align">
                <br>
                <br>
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger pink darken-1"
                  href="#modal1" onclick="validarEquipoEditar()"><i class="material-icons">playlist_add</i></a>
              </div>
            </div>
          </div>
        </li>
        <div id="integrantesEquipoTextoEditar">
        </div>
      </ul>
    </div>
  </div>
  <div class="container center-align" id="circuloCarga_InscipcionEquipo" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
<div id="mensajeEditarEquipo" class="center-align container" style="display: none;">
  <br>
  <br>
  <h4 id="tituloMensajeEditarEquipo"></h4>
  <br>
  <p id="textoMensajeEditarEquipo"></p>
  <br>
  <br>
  <br>
  <div class="row">
      <div class=" col s12">
          <div class="col s6">
              <a href="InterfazOrg.php" id="boton_registro"
                  class="waves-effect waves-light btn">Menu organizador</a>
          </div>
          <div class="col s6">
              <a href="consultarEquipos.php" id="boton_registro" class="waves-effect waves-light btn">Consultar equipos</a>
          </div>
      </div>

  </div>
  <br>
  <br>
  <br>
</div>

<div id="modal1" class="modal center-align">
  <div class="modal-content">
    <h6 class="center-align" id="tituloEditar">¿Confirmar equipo?</h6>
    <div id="contenidoConfirmacionEditar" class="center-align">
      <br>
      <p id="textoConfirmarEditar">Presione confirmar para realizar la inscripcion</p>
    </div>
  </div>
  <br>
  <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align" id="editarEquipo"
    onclick="editarEquipo(<?= $equipo_id ?>)">Confirmar</a>
  <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align">Cancelar</a>
  <div class="modal-footer center-align">
  </div>
</div>