<a href="../index.php" class="brand-logo center">Consultar Equipos</a>
</div>
</nav>
<div class="wrap-crearEquipo container" id="wrap-container">
    <div class="container center-align" id="formaEliminarEquipo">
        <h5>¿Desea eliminar el equipo <?= $equipo_id ?>?</h5>
        <br>
        <h6>Esto solo eliminara el equipo, ninguno de los participantes se vera afectado</h6>
        <br>
        <div>
            <?php
                echo consultar_EquipoEliminar($equipo_id);
                ?>
            <br>
            <br>
        </div>
        <div class="row">
            <div class=" col s12">
                <div class="col s6">
                    <a onclick="eliminarEquipo(<?= $equipo_id ?>)" id="boton_registro"
                        class="waves-effect waves-light btn">Eliminar</a>
                </div>
                <div class="col s6">
                    <a href="consultarEquipos.php" id="boton_registro" class="waves-effect waves-light btn">Salir sin
                        cambios</a>
                </div>
            </div>

        </div>
    </div>
    <div class="container center-align" id="circuloCarga_EliminarEquipo" style="display: none;">
        <br>
        <br>
        <br>
        <br>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div id="mensajeEliminarEquipo" class="center-align container" style="display: none;">
        <br>
        <br>
        <h4 id="tituloMensajeEliminarEquipo"></h4>
        <br>
        <p id="textoMensajeEliminarEquipo"></p>
        <br>
        <br>
        <br>
        <div class="row">
            <div class=" col s12">
                <div class="col s6">
                    <a href="InterfazOrg.php" id="boton_registro"
                        class="waves-effect waves-light btn">Menu organizador</a>
                </div>
                <div class="col s6">
                    <a href="consultarEquipos.php" id="boton_registro" class="waves-effect waves-light btn">Consultar equipos</a>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
    </div>