<br><br>
<div class="container">
    <div class="row">
        <div class="col s4"><a class="btn-floating btn-large waves-effect waves-light red" href="controlador_registra_caso.php"><i class="material-icons">add</i></a>
        </div>
        <div class="col s4"><a class="btn-floating btn-large waves-effect waves-light red" href="controlador_edita_caso.php"><i class="material-icons">create</i></a>
        </div>
        <div class="col s4"><a class="btn-floating btn-large waves-effect waves-light red" href="controlador_borrar.php"><i class="material-icons">delete</i></a>
        </div>
      </div>
</div>
