#logo{
    height:75px;
	width: 75px;
}
#navbar{
    background-color: darkred;
    height: 80px;
}
body{
 background-color: rgb(59, 52, 52);
 color: snow;
}
h4{
    color:snow;
}
h3{
    color: snow;
}
p{
    font-size: 20px;
}
a{
    color:#757575;
}
#footer{
    background-color:rgb(139, 13, 13);
}
#footer_1
{
    background-color:darkred;
}
.referencias{
    font-size: 20px;
    
}
nav{
    background-color: snow;
    height: 90px;
}
#icon{
    color:#FFC107 ;
}
table{
    border: 1px;
}
li{
    font-size: 20px;
}
#input{

    text-align: center;
}
#inputButton{
    background-color: darkgrey;
    
}
