
    <section >
    <div class="container">
        <h2 >Manejo de sesiones con php</h2>
        <br>
        <article >
                <h4>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</h4>
                <br>
                <div class="divider"></div>
                <p>El session_unset para borrar todas la variables que tienen valor en esa sesión y el session destroy despues porque este no elimina las variables globales de la sesión </p>
                <br><br>
                <div class="row">
                </div>
                <br>
                <h4>¿Cuál es la diferencia entre una variable de sesión y una cookie?</h4>
                <br>
                <div class="divider"></div>
                <p>Las variables de session se guardan en el lado del servidor y la información cuando la guardas con una cookie se guarda en el lado del cliente.</p>
                <br><br>
                <div class="row">
                </div>
                <br>
                <h4>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h4>
                <br>
                <div class="divider"></div>
                <p>Con timestamps y con id de fotos.</p>
                <br><br>
                <div class="row">
                </div>
                <br>
                <h4>¿Qué es CSRF y cómo puede prevenirse?</h4>
                <br>
                <div class="divider"></div>
                <p>CSRF (Cross-site request forgery) es un método por el cual un tercero intenta hacer que tus usuarios, sin saberlo, envíen datos que no quieren enviar.</p>
                <p>Una manera de prevenirlo es solicitar información adicional en cada petición de HTTP para vlidar si es fiabel o no. Esto se consigue con un token secreto, que se genra y se informa al usuario al momento de iniciar sesión</p>
                <br><br>
                <div class="row">
                </div>
                <br>
        </article>
    </div>
    </section>