
    <br><br><br>
    <footer class="page-footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Eric Ferando Torres Rodríguez</h5>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Contacto</h5>
              <ul>
                <li>a01700249@itesm.mx</a></li>
                <li>eftr249@outlook.com</a></li>
                <li>442-219-8977</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright" id="footer_1">
          <div class="container">
          © 2019 E&T Powered by Materialize
          </div>
        </div>
      </footer>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="./src/materialize/js/materialize.min.js"></script>
<script>
  M.AutoInit();
</script>
</body>
</html>