<body>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <form class="col s12" action="index.php" method="POST">
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="EricT" id="nombre" name="nombre" type="text" class="validate" required>
                    <label for="nombre">Nombre</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                   <input placeholder="contraseña1" id="password" type="password" name="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="col s12">
                    <div class="input-field col s12">
                      <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="Iniciar">
                    </div>
                  </div>
                </div>
              </form>
        </div>
      </div>
      <div id="modal2" class="modal">
        <div class="modal-content">
          <form action="subirFoto.php" method="POST" enctype="multipart/form-data">
            <br>
            <div class="file-field input-field">
              <div class="btn">
                <span>Examinar</span>
                <input type="file" name="imagen">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
              <div class="modal-footer">
                <div class="input-field col s12">
                  <input type="submit" class="waves-effect waves-light btn" value="Subir">
                  <br>
                </div>
              </div>
            </div>
            <br>
          </form>
        </div>
      </div>