<nav>
    <div class="nav-wrapper" id="navbar">
    <img src="./src/img/logo.png" alt="logo" class="brand-logo center" id="logo">
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="./src/img/background.jpg">
      </div>
      <a href="#user"><img class="circle" src="<?=$_SESSION["imagen"]?>"></a>
      <a href="#name"><span class="white-text name"><?=$_SESSION["nombre"]?></span></a>
    </div></li>
    <li><a href="#modal1" class="modal-trigger"><i class="material-icons">add_circle_outline</i>Iniciar Sesión</a></li>
    <li><a href="./cerrarSesion.php"><i class="material-icons">block</i>Cerrar Sesion</a></li>
    <li><div class="divider"></div></li>
    <li><a class="modal-trigger" href="#modal2">Subir fotografia</a></li>
    <li><a class="subheader">Subir fondo</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="medium material-icons">account_circle</i></a>
<br>