<section class="referencias">
    <div class="container">
        <h3>Referencias</h3>
                <li><a href="https://es.stackoverflow.com/questions/75727/cookies-vs-sesiones">https://es.stackoverflow.com/questions/75727/cookies-vs-sesiones</a></li>
                <li><a href="https://uniwebsidad.com/libros/symfony-2-4/capitulo-12/proteccion-csrf">https://uniwebsidad.com/libros/symfony-2-4/capitulo-12/proteccion-csrf</a></li>
                <li><a href="https://www.gb-advisors.com/es/como-prevenir-vulnerabilidades-sitios-cruzados-csrf/">https://www.gb-advisors.com/es/como-prevenir-vulnerabilidades-sitios-cruzados-csrf/</a></li>
    </div>
    </section>