
    <h4>¿Qué es ODBC y para qué es útil?</h4>
    <p>Open Data Base Conectivity es un estandar de acceso a las bases de datos, el cual tiene como objetivo el acceder a cualquier dato desde cualquier
         aplicación</p>
    <h4>¿Qué es SQL Injection?</h4>
    <p> Es una vulnerabilidad donde un atacante “inyecta” instrucciones SQL. El objetivo de este es 
        modificar el comportamiento de nuestras consultas a través de parámetros no deseados, 
        falsificando identidades, obteniendo y divulgando información de la base de datos,
         borrar la base de datos, modificar el nombre a las tablas, etc.</p>
    <h4>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</h4>
    <li>Añadir la barra ivertida para poder ignorar los caracteres especiales de SQL</li>
    <li>Delimitar los valores de consultas</li>
    <li>Verificar siempre los datos</li>
    <li>Asignar privilegios minimos al usuario</li>
