</div>
</article>
    <article>
        <h4>Preguntas</h4>
        <br>
        <div class="divider"></div>
        <br>
            <div id="preguntas">
            <h5>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</h5>
            <div class= "container">
                <p>La funcion phpinfo() sirve para imprimir la configuración de php, algo que llamo mi atenciónfue que 
                    dependiendo el ambiente donde estemos corriendo nuestra aplicación los datos de la configuración de php cambian. 
                </p>
            </div>
            <br>
            <h5>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</h5>
            <div class= "container">
                <p>Se necesita encontrar el archivo php.ini, que estara en el folder de php y se haran los cambios en el "manejo de errores y loggin.
                El cambio que se necesita hacer es apagar todos los errores de display.</p>
            </div>
            <br>
            <h5>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor?</h5>
            <div class= "container">
                <p>Al abrir un archivo en un cliente que viene siendo el navegador se manda una solicitud de http que se procesa en el servidor.
                    Despues de que se procesa lo devuelve en un formato que que el navegador es capaz de interpretar.
                </p>
            </div>
            <br>
            <br>

