
<section >
    <div class="container">
        <h2 >Introducción a PHP</h2>
        <br>
        <article >
                <h4>Promedio de arreglos</h4>
                <br>
                <div class="divider"></div>
                <br>
                <div class= "container">



