h1
{
 color: snow;
}
body
{
    background-color: slategrey;
}
h3
{
    margin-left: 20px;
}

.cuestionario
{
    font-size: 15px;
    color: whitesmoke;
}
.referencias
{
    font-size: 15px;
    color: azure;
}
.contacto
{
    text-align: right;
    color: darkred;
}