h1
{
 color: black
}
body
{
    background-color: rgb(250, 250, 250);
}
h3
{
    margin-left: 20px;
}

.cuestionario
{
    font-size: 15px;
    color: black
}
.referencias
{
    font-size: 15px;
    color: black
}
#logo{
    height:60px;
	width: 60px;
}
#navbar{
    background-color: dodgerblue;
}
#footer{
    background-color: dodgerblue;
}
#footer_1
{
    background-color: rgb(14, 65, 116);
}