h1
{
    text-align: center;
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
.Creacion_personaje{
    color: blanchedalmond;
    font-size: 20px;
    text-align: center;
}
.formulario{
    
    text-align: center;
}
.crearPersonaje{
    background-color: darkgoldenrod;
    font-style: italic;
    font-weight: bold;
}
.tabla_personaje{
    color: snow;
}
.aviso
{
    visibility: hidden;
    font-size: 15px;
}
div.waterMark
{
    position: absolute;
    top: 15px;
    right: 20px;
    
}
.logo{
    height: 40px;
    width: 40px;
    opacity: 0.5;
}
#faccion {
    width: 100px;
    height: 100px;
    border: 1px solid darkgoldenrod;
    background-color: oldlace;
    text-align: center;
    margin-left: 620px;
    
  }
._faccion{
    height: 100px;
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
}
.facciones{
    text-align: center;
}