		
        </div>
      </div>
    </nav>
    <div class="container">
    	<h3>AVISO DE PRIVACIDAD PARA DONANTES</h3>
    	<dd>Casa María Goretti IAP, con domicilio en Av. Pie de la Cuesta #2251, Col. San Pedrito Peñuelas, en Querétaro, Qro., es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:</dd>

    	<h5>¿Para qué fines utilizaremos sus datos personales?</h5>
    	<dd>Sus datos personales serán utilizados con la finalidad de establecer y mantener el contacto, comunicar logros de la organización y poder enviarle sus recibos deducibles, así como invitaciones a eventos de la casa hogar.</dd>
    	<br>
		<dd>En caso de que no desee que sus datos personales sean tratados para estos fines, favor de enviar un correo a casamariagoretti@hotmail.com. (La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios).</dd>

		<h5>¿Qué datos personales utilizaremos para estos fines?</h5>
		<dd>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</dd>
		<ul>
			<li>Nombre completo</li>
			<li>Teléfono(s) de contacto</li>
			<li>Correo electrónico</li>
			<li>RFC y datos fiscales para facturación</li>
		</ul>
		<dd>Únicamente a aquellos donantes con cargo a tarjeta de crédito, además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente aviso de privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial protección:</dd>
		<ul>
			<li>Número de tarjeta de crédito</li>
			<li>Banco</li>
			<li>Fecha de expiración del plástico</li>
		</ul>

		<h5>¿Con quién compartimos su información personal y para qué fines?</h5>
		<dd>Casa María Goretti IAP está obligado a reportar el nombre de sus donantes en la Balanza de los Estados Financieros, los cuales son puestos a disponibilidad en el portal de transparencia. Éste es el único dato personal que debe reportarse.</dd>

		<h5>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h5>
		<dd>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</dd>
		<br>
		<dd>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva directamente a la Dirección de Casa María Goretti.</dd>
		<br>
		<dd>Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, usted podrá llamar al siguiente número telefónico (442) 243-4735; enviar un correo electrónico a casamariagoretti@hotmail.com, o bien ponerse en contacto la Dirección de la casa hogar en Av. Pie de la Cuesta #2251, Col. Lomas de San Pedrito Peñuelas, CP 76148 en Querétaro, Qro.</dd>

		<h5>¿Cómo puede revocar su consentimiento para el uso de sus datos personales?</h5>
		<dd>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</dd>
		<br>
		<dd>Para revocar su consentimiento deberá presentar su solicitud directamente a la Dirección de Casa María Goretti.</dd>
		<br>
		<dd>Para conocer el procedimiento y requisitos para la revocación del consentimiento, usted podrá llamar al siguiente número telefónico (442) 243-4735; enviar un correo electrónico a casamariagoretti@hotmail.com, o bien ponerse en contacto la Dirección de la casa hogar en Av. Pie de la Cuesta #2251, Col. Lomas de San Pedrito Peñuelas, CP 76148 en Querétaro, Qro.</dd>
		
		<h5>¿Cómo puede limitar el uso o divulgación de su información personal?</h5>
		<dd>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:</dd>
		<br>
		<dd>Su inscripción en el Registro Público para Evitar Publicidad, que está a cargo de la Procuraduría Federal del Consumidor, con la finalidad de que sus datos personales no sean utilizados para recibir publicidad o promociones de empresas de bienes o servicios. Para mayor información sobre este registro, usted puede consultar el portal de Internet de la PROFECO, o bien ponerse en contacto directo con ésta.</dd>
		<br>
		<dd>Su registro en el listado de exclusión “NO DATOS PERSONALES CMG”, a fin de que sus datos personales no sean tratados para fines mercadotécnicos, publicitarios o de prospección comercial por nuestra parte. Para mayor información llamar al número telefónico (442) 243-4735, enviar un correo electrónico a casamariagoretti@hotmail.com, o bien ponerse en contacto la Dirección de la casa hogar en Av. Pie de la Cuesta #2251, Col. Lomas de San Pedrito Peñuelas, CP 76148 en Querétaro, Qro.</dd>

		<h5>¿Cómo puede conocer los cambios a este aviso de privacidad?</h5>
		<dd>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</dd>
		<br>
		<dd>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de correo electrónico.</dd>
    </div>