<a href="../index.php" class="brand-logo center">Crear Equipos Tentativos</a>
</div>
</nav>
<div class="wrap-crearEquipo" id="wrap-crearEquipo">
    <div class="row" id="formaEquipoTentativo">
        <div class="col s8">
            <br>
            <div class="tablaParticipantes col s12" id="tablaParticipantesTentativo">
              <?php
              echo consultar_casosEquipoTentativo($username,"");
              ?>
            </div>
        </div>
        <div class="col s3 center-align">
            <ul class="collection with-header  z-depth-3">
                <li class="collection-header">
                    <div class="row">
                        <div class="col s6">
                            <h4>Equipo</h4>
                            <div class="input-field col s12">
                              </div>
                        </div>
                        <div class="col s1"></div>
                        <div class="col s5">
                            <div class="col s6 right-align right-align">
                                <br>
                                <br>
                                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger pink darken-1" href="#modalTentativo" onclick="validarEquipoTentativo()"><i class="material-icons">playlist_add</i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <div id="integrantesEquipoTextoTentativo">

                </div>
            </ul>
        </div>
    </div>
    <div class="container center-align" id="circuloCarga_InscipcionEquipoTentativo" style="display: none;">
        <br>
        <br>
        <br>
        <br>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
</div>
<div id="mensajeCrearEquipoTentativo" class="center-align container" style="display: none;">
  <br>
  <br>
  <h4 id="tituloCrearEquipoTentativo"></h4>
  <br>
  <p id="textoCrearEquipoTentativo"></p>
  <br>
  <br>
  <br>
  <div class="row">
      <div class=" col s12">
              <a href="informacion-usuario.php" id="boton_registro"
                  class="waves-effect waves-light btn">Menu</a>
      </div>

  </div>
  <br>
  <br>
  <br>
</div>

<div id="modalTentativo" class="modal center-align">
    <div class="modal-content">
      <h6 class="center-align" id="tituloEquipoTentativoConfirmar">¿Confirmar equipo?</h6>
      <div id="contenidoConfirmacionEquipoTentativo" class="center-align">
        <br>
        <p id="textoConfirmar">Presione confirmar para realizar la inscripcion</p>
      </div>
    </div>
    <br>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align"
      id="registrarEquipoTentativo" onclick="crearEquipoTentativo()">Confirmar</a>
    <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align">Cancelar</a>
    <div class="modal-footer center-align">
    </div>
  </div>