<a href="InterfazOrg.php" class="brand-logo center">Editar Torneo</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a  href="InterfazOrg.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="InterfazOrg.php">Menu</a></li>
</ul>
</div>
    </nav>
    <div class="container">
      <div class="row">
        <h3>Datos del Torneo "<?=$array[7]?>"</h3>
      </div>
      <div class="row"id="formaEditarTorneo">

          <div class="row">
            <h4>Información General</h4>
            <div class="input-field col s4">
              <i class="material-icons prefix">golf_course</i>

              <input value="<?=$array[7]?>" id="nombreTE" type="text" class="validate">
              <label for="nombreTE">Nombre</label>



            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">place</i>
              <input value="<?=$array[4]?>" id="lugarE" type="text" class="validate">
              <label for="lugarE">Lugar</label>
            </div>   
            <div class="input-field col s4">
              <i class="material-icons prefix">event</i>
              <input value="<?=$array[1]?>" id="fechaTE" type="text" class="datepicker" name="fechaTE">
              <label for="fechaTE">Fecha de Torneo</label>
            </div>     
          </div>
        
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix">access_time</i>
              <input value="<?=$array[2]?>" id="HoraRE" type="text" class="timepicker" name="HoraRE">
              <label for="HoraRE">Hora de Registro</label>
            </div>       
            <div class="input-field col s4">
              <i class="material-icons prefix">alarm</i>
              <input value="<?=$array[3]?>" id="HoraIE" type="text" class="timepicker" name="HoreIE">
              <label for="HoraIE">Hora de Inicio</label>
            </div>  
            <div class="input-field col s4">
              <i class="material-icons prefix">event_busy</i>
              <input value="<?=$array[6]?>" id="cierreTE" type="text" class="datepicker" name="cierreTE">
              <label for="cierreTE">Cierre de Torneo</label>
            </div>      
          </div>


          <div class="row">
            <h4>Costos</h4>
            <div class="input-field col s6">
              <i class="material-icons prefix">attach_money</i>
              <input value="<?=$array[8]?>" id="preventaTE" type="number" class="validate" >
              <label for="preventaTE">Costo Preventa</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">event_available</i>
              <input value="<?=$array[9]?>" id="fechaPE" type="text" class="datepicker" name="fechaPE">
              <label for="fechaPE">Fecha Preventa</label>
            </div>
          </div> 

          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">attach_money</i>
              <input value="<?=$array[5]?>" id="costoE" type="number" class="validate">
              <label for="costoE">Costo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">today</i>
              <input value="<?=$array[10]?>" id="fechaCE" type="text" class="datepicker" name="fechaCE" >
              <label for="fechaCE">Fecha costo normal</label>
            </div> 
          </div>

           <div class="row">
            <h4>Información de Pago</h4>
            <div class="input-field col s6">
              <i class="material-icons prefix">monetization_on</i>
              <input value="<?=$array[12]?>" id="cuentaTE" type="number" class="validate">
              <label for="cuentaTE">Cuenta</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">monetization_on</i>
              <input value="<?=$array[13]?>" id="clabeTE" type="number" class="validate">
              <label for="clabeTE">Clabe</label>
            </div>  
          </div> 

          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">location_city</i>
              <input value="<?=$array[15]?>" id="bancoTE" type="text" class="validate">
              <label for="bancoTE">Banco</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input value="<?=$array[14]?>" id="beneficiarioT" type="text" class="validate">
              <label for="beneficiarioT">Beneficiario</label>
            </div>
          </div> 
          <h4>Status del torneo</h4>
          <div class="row">
         <div class="input-field col s6">
            <i class="material-icons prefix">assistant_photo</i><select id="torneoActivo" name="torneoActivo">
            <?= getOpciones($array[17], 'activo', 'torneo',$array[11]); ?>
          </div>
          <div class="col s6">
            <p style="color: #3e988c">IMPORTANTE: Solo puede existir un torneo activo a la vez; si deseas activar un torneo, asegúrate de desactivar cualquiera que se encuentre actualmente activo.</p>
        </div>  
      </div>
<div class="input-field col s12" id="infoTor" style="display: none;">
          <li class="collection-item"><span class="title"><label for="idTorneo">idTorneo</label></span>
            <div><input id="idTorneo" type="number" value="<?=$array[17]?>"><?=$array[17]?></div>
          </li>
        </div>        
          <div class="row" style="display: block;">
            <div class="col s12" align="center" id="MensajeEditorTorneo" style="color: #ff4d4d" >
            </div>
          </div>
          <div class="row center">
          <div class="col s6">
          <a href="InterfazEditarTorneo.php" class="btn waves-effect waves-light btn-large pink " id="botones">Regresar 
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
            <div class="col s6" align="center" id="MensajeEditorTorneo" style="color: #ff4d4d" >
            <button id="editarTor" class="btn waves-effect waves-light btn-large pink">Registrar cambios
              <i class="material-icons right">save</i>
            </button>
          </div>
          </div>
        
      </div>
    </div>


<div class="container center-align" id="circuloCarga_EditarTorneo" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
  </div>


    <div class="container" id="mensaje" style="display: none;">

      <div class="row">

        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="titulo2">Se registraron exitosamente los cambios</h3>
          <i class="medium material-icons" id="iconoRespuesta">check_box</i>
          </div>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazEditarTorneo.php" class="btn " id="botones">Revisar otro torneo
            <i class="large material-icons right">edit</i>
          </a>
        </div>
                  <br>
          <br>
        <div class="col s12" align="center">
          <br>
          <a href="InterfazOrg.php" class="btn " id="botones">Regresar al menú  
            <i class="large material-icons right">keyboard_return</i>
          </a>

        </div>

      </div>

    </div>