<a href="../index.php" class="brand-logo center">Editar equipo Tentativo</a>
</div>
</nav>
<div class="wrap-crearEquipo" id="wrap-editarEquipoTentativo">
  <div class="row" id="formaEquipoEditarTentativo">
    <div class="col s8">
      
      <br>
      <div class="tablaParticipantes col s12" id="tablaParticipantesEditarTentativo">
        <?php
              echo consultar_casosEquipoTentativoEditar($equipo_id,$username);
              ?>
      </div>
    </div>
    <div class="col s3 center-align">
      <ul class="collection with-header  z-depth-3">
        <li class="collection-header">
          <div class="row">
            <div class="col s6">
              <h5>Equipo: <?= $equipo_id ?></h5>
            </div>
            <div class="col s1"></div>
            <div class="col s5">
              <div class="col s6 right-align right-align">
                <br>
                <br>
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger pink darken-1"
                  href="#modalvalidarEditarTentativo" onclick="validarEquipoEditarTentativo()"><i class="material-icons">playlist_add</i></a>
              </div>
            </div>
          </div>
        </li>
        <div id="integrantesEquipoTextoEditarTentativo">
        </div>
      </ul>
    </div>
  </div>
  <div class="container center-align" id="circuloCarga_EditarEquipoTentativo" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
<div id="mensajeEditarEquipoTentativo" class="center-align container" style="display: none;">
  <br>
  <br>
  <h4 id="tituloMensajeEditarEquipoTentativo"></h4>
  <br>
  <p id="textoMensajeEditarEquipoTentativo"></p>
  <br>
  <br>
  <br>
  <div class="row">
      <div class=" col s12 center-align">
          
              <a href="informacion-usuario.php" id="boton_registro"
                  class="waves-effect waves-light btn">Menu Participante</a>
        
      </div>

  </div>
  <br>
  <br>
  <br>
</div>

<div id="modalvalidarEditarTentativo" class="modal center-align">
  <div class="modal-content">
    <h6 class="center-align" id="tituloEditarEquipoTentativo">¿Confirmar equipo?</h6>
    <div id="contenidoConfirmacionEditarTentativo" class="center-align">
      <br>
      <p id="textoConfirmarEditarTentativo">Presione confirmar para realizar la inscripcion</p>
    </div>
  </div>
  <br>
  <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align" id="editarEquipoTentativo"
    onclick="editarEquipoTentativo(<?= $equipo_id ?>)">Confirmar</a>
  <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align">Cancelar</a>
  <div class="modal-footer center-align">
  </div>
</div>