<a href="../index.php" class="brand-logo center">Informacion de inscripción</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="pagina-principal.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</nav>
<div class="wrap-interfaz">
  <div class=" container">
    <div class="section">
      <div class="row">
        <div>
          <h4>Registros</h4>
          <div>
            <?php echo consultar_registrosUsuarioConsulta($username); ?>
          </div>
        </div>
        <br>
        <br>

        <h4>Equipos tentativos</h4>

        <a href="crearEquipoTentativo.php" class="btn-floating btn-large waves-effect waves-light red right-align"><i
            class="material-icons">group_add</i></a>

        <p>En la siguiente tabla se muestran los equipos que haz dado de alta como tentativos o los equipos
          oficiales en los que alguno de tus registros pertenece</p>
        <div class="tablaParticipantesEquipoConsulta col s12" id="tablaEquipoConsultaUsuario">
          <?php echo consultar_EquiposTentativos($username); ?>

        </div>
      </div>
    </div>
  </div>
</div>