<a href="index.php" class="brand-logo center">Subir Poster de Torneo</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="Subir_Imagenes.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>

<div class="container">
	<div class="retro">
		<ul class="collection with-header" >
	        <li class="collection-header grey lighten-2">
	          <h4>Poster</h4>
	        </li>
	        <li class="collection-item"><span class="title">Seleccione comprobante</span>
	          <!---->
	          
	          <form action="../Controladores/controlador_subir_poster.php" method="POST" enctype="multipart/form-data">
	            <div class="file-field input-field">
	              
	              <div class="btn">
	                <span>Examinar</span>
	                <input type="file" name="imagen">
	              </div>
	              <div class="file-path-wrapper">
	                <input class="file-path validate" name="nombrei" type="text">
	              </div>
	              <input type="submit" class="waves-effect waves-light btn" id="btnA" name="btnA" value="Aceptar">
	            </div>
	            

	          </form>
	        </li>
	    </ul>
    </div>
  </div>