 <a href="../index.php" class="brand-logo center" >Interfaz Organizador</a>
        </div>
      </div>
    </nav>
    <div class="container">
     <div class="row">
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align" >
          <div class="col s12">
            <i class="large material-icons icon-blue ">image</i>
          </div>
          <div class="col s12">
            <p>
              Sube el poster del torneo activo.
            </p>
          </div>
          <a href="Subir_Poster.php" class="btn" id="botones">Subir Poster</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">add_a_photo</i>
          </div>
          <div class="col s12">
            <p>
              Sube las fotos de los torneos.
            </p>
          </div>
          <a href="Subir_Fotos.php" class="btn" id="botones">Subir fotos</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">library_add</i>
          </div>
          <div class="col s12">
            <p>
              Sube los logos de los patrocinadores.
            </p>
          </div>
          <a href="Subir_Logos.php" class="btn" id="botones">Subir Logos</a>
        </div>
      </div>
      </div>
    </div>