
        <a href="../index.php" class="brand-logo center">Inscripción a torneo 2020</a>
      </div>
    </nav>
    <br>
    <br>

<div class="container" id="forma">
  <div class="row">

          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a class="active"href="#test1"><i class="small material-icons">account_circle</i></a></li>
              <li class="tab col s2"><a href="#test2"><i class="small material-icons">golf_course</i></a></li>
              <li class="tab col s2"><a href="#test3"><i class="small material-icons">content_paste</i></a></li>
              <li class="tab col s2" style="display: none;" id="formaCargoTarjeta" ><a href="#test4"><i class="small material-icons">credit_card</i></a></li>
              <li class="tab col s2" style="display: none;" id="formaFacturacion"><a href="#test5"><i class="small material-icons">dvr</i></a></li>
              <li class="tab col s2"><a href="#test6"><i class="small material-icons">attach_money</i></a></li>
            </ul>
          </div>

          <br>
          <br>
          <br>
          <br>
          <div class="row">
              <div id="test1">
                <h3>Datos Personales:</h3>
                <br>
                <h5>Nombre Completo*</h5>
                  <div class="input-field col s4">
                    <i class=" large material-icons prefix">person_outline</i>
                    <input placeholder="Nombre" id="nombre" type="text" class="validate" data-length="20" required>
                    <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
                  </div>
                  <div class="input-field col s4">
                    <input placeholder="Apellido Paterno" id="apellidoPaterno" type="text" class="validate" data-length="20" required>
                    <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
                  </div>
                  <div class="input-field col s4">
                    <input placeholder="Apellido Materno" id="apellidoMaterno" type="text" class="validate" data-length="20" required>
                    <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
                  </div>
                <h5>Sexo*</h5>
                <p>
                  <label>
                    <input id="sexo" name="sexo" value="Hombre" type="radio" required/>
                    <span>Hombre</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input id="sexo" name="sexo" value="Mujer" type="radio" required/>
                    <span>Mujer</span>
                  </label>
                </p>
                <h5>Edad*</h5>
                  <div class="input-field col s12">
                    <i class=" large material-icons prefix">person_outline</i>
                    <input placeholder="Edad" id="edad" type="number" class="validate" min="0" required>
                    <span class="helper-text" data-error="" data-success="Correcto"></span>
                  </div>
                <h5>Teléfono*</h5>
                  <div class="input-field col s12">
                    <i class=" large material-icons prefix">person_outline</i>
                    <input placeholder="4422222211" minlength="10" data-length="10" id="telefono" type="text" class="validate" required>
                    <span class="helper-text" data-error="Número de digitos incorrecto" data-success="Correcto"></span>
                  </div>
                <h5>Correo electrónico*</h5>
                  <div class="input-field col s12">
                    <i class=" large material-icons prefix">person_outline</i>
                    <input placeholder="ejemplo@gmail.com" id="email" type="email" class="validate" required>
                    <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
                  </div>
                  
              </div>
              
              <div id="test2">
                <h3>Datos de Juego:</h3>
                <br>
                <div class="row">
                  <div class="col s12">
                    <h5>Handicap*</h5>
                  <div class="input-field col s4">
                    <i class=" large material-icons prefix">person_outline</i>
                    <input  step="0.1" placeholder="10" id="handicap" type="number" class="validate" min="0" max="36" required>
                    <span class="helper-text" data-error="Handicap invalido" data-success="Correcto"></span>
                  </div>
                  </div>
                  <div class="col s12">
                    <h5>Indicaciones Especiales</h5>
                    <p>En el siguiente parrafo puedes colocar cualquier tipo de acuestion extra ya sea:</p>
                    <li>Problemas medicos.</li>
                    <li>Preferencias de registro de equipo (En este caso anotar los nombres de los participantes en cuestion.<br>AVISO: las preferencias son tentativas, los organizadores son los que aignan los equipos.)</li>
                    <li>Cualquier tipo de preferencia.</li>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea placeholder="Indicacion especial" id="indicacion_especial" class="materialize-textarea"  data-length="200"></textarea>
                    </div>
                  </div>
                </div>
          
              </div>

              <div id="test3">
                <h3>Datos Administrativos:</h3>
                <br>
                <div class="col s12">
                  <h5>Metodo de Pago</h5>
                  <p>
                    <label>
                      <input id="metodoPago" name="metodoPago" value="Transferencia Electronica" type="radio" onclick="mostarDatosCargoTarjeta(0)" required/>
                      <span>Transferencia Electrónica</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input id="metodoPago" name="metodoPago" value="Depósito en efectivo" type="radio" onclick="mostarDatosCargoTarjeta(0)" required/>
                      <span>Depósito en efectivo</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input id="metodoPago" name="metodoPago" value="Cargo a tarjeta de crédito" type="radio" onclick="mostarDatosCargoTarjeta(1)" required/>
                      <span>Cargo a tarjeta de crédito</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input id="metodoPago" name="metodoPago" value="Pago en efectivo previo al evento" type="radio" onclick="mostarDatosCargoTarjeta(0)" required/>
                      <span>Pago en efectivo previo al evento</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input id="metodoPago" name="metodoPago" value="Pago en efectivo el día del evento" type="radio" onclick="mostarDatosCargoTarjeta(0)" required/>
                      <span>Pago en efectivo el día del evento</span>
                    </label>
                  </p>
                </div>
                <div class="cols12">
                  <h5 >¿Requiere recibo deducible de impuestos?</h5>
                  <p>
                    <label>
                      <input id="facturacion" name="factura" value="Si" type="radio" onclick="mostrarDatosFactura(1);" required/>
                      <span>Sí</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input id="facturacion" name="factura" value="No" type="radio" onclick="mostrarDatosFactura(0);"required/>
                      <span>No</span>
                    </label>
                  </p>
                </div>
                <div class="col s12">
                  <h5>¿Autorizas que se publiquen tus fotos del evento en las redes sociales de la institución?:</h5>
                  <p>
                    <label>
                      <input id="autorizarFotos" name="autorizarFotos" value="Si" type="radio" required/>
                      <span>Sí</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input id="autorizarFotos" name="autorizarFotos" value="No" type="radio" required/>
                      <span>No</span>
                    </label>
                  </p>
                </div>
              </div>
          
              <div id="test4">
                <h3>Carga a tarjeta de Crédito</h3>
                <div class="col s12 ">
                  <div class="row">
                    <div class="col s12">
                      Nombre Completo*
                      <div class="input-field inline">
                        <input id="nombre_tarjeta" type="text" class="validate" data-length="100">
                        <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                      </div>
                    </div>
                    <div class="col s12">
                      Número tarjeta*
                      <div class="input-field inline">
                        <input id="numero_tarjeta" type="text" class="validate" data-length="19" minlength="16">
                        <span class="helper-text" data-error="wrong" data-success="right"  ></span>
                      </div>
                    </div>
                    <div class="col s12">
                      Fecha vencimiento*
                      <div class="input-field inline">
                        <input placeholder="1" id="vencimiento_mes" type="number" class="validate" min="1" max="12">
                        <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>

                      </div>
                      <div class="input-field inline">
                        <input placeholder="2020"id="vencimiento_año" type="number" class="validate">
                        <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="test5">
                <h3>Datos de Facturación:</h3>
                <br>
                <div class="row">
                  <div class="col s12">
                    <h5>Razón Social*</h5>
                  <div class="input-field col s4">
                    <i class=" large material-icons prefix">person_outline</i>
                    <input placeholder="Razón Social" id="facturacion_razonSocial" type="text" class="validate" data-length="50">
                    <span class="helper-text" data-error="Revisar informació" data-success="Correcto"></span>
                  </div>
                  </div>
                  <div class="col s12">
                    <h5>RFC*</h5>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <input placeholder="RFC" id="facturacion_RFC" type="text" class="validate" data-length="15">
                      <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                    </div>
                  </div>
                  <div class="col s12">
                    <h5>Dirección Fiscal</h5>
                      <div class="container">
                        <div class="row">
                          <div class="col s12">
                            Calle*
                            <div class="input-field inline">
                              <input id="facturacion_calle" type="text" class="validate" data-length="50">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                          <div class="col s6">
                            No. exterior*
                            <div class="input-field inline">
                              <input id="facturacion_noExterior" type="text" class="validate" data-length="5">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                          <div class="col s6">
                            No. interior
                            <div class="input-field inline">
                              <input id="facturacion_noInterior" type="text" class="validate"  data-length="5">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                          <div class="col s12">
                            Colonia*
                            <div class="input-field inline">
                              <input id="facturacion_colonia" type="text" class="validate" data-length="50">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                          <div class="col s6">
                            Ciudad*
                            <div class="input-field inline">
                              <input id="facturacion_ciudad" type="text" class="validate" data-length="50">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                          <div class="col s6">
                            Estado*
                            <div class="input-field inline">
                              <input id="facturacion_estado" type="text" class="validate" data-length="50">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                          <div class="col s12">
                            Código Postal*
                            <div class="input-field inline">
                              <input id="facturacion_CP" type="text" class="validate" data-length="5">
                              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h5>Indicaciones Especiales de facturacion</h5>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea placeholder="Aqui puedes anotar cualquier indicaciones especial sobre la facturación" id="indicacion_especial_facturacion" class="materialize-textarea" data-length="200"></textarea>
                      </div>
                  </div>
                </div>
              </div>

              <div id="test6">
                <h5>Recibo de Pago</h5>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input id="recibo_archivo" type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input id="recibo_nombreArchivo" class="file-path validate" type="text">
                  </div>
                </div>
                <h5>Indicaciones Especiales de pago</h5>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea placeholder="Aqui puedes anotar cualquier indicaciones especial sobre pago" id="indicacion_especial_pago" class="materialize-textarea"></textarea>
                      </div>
                <div class="center-align">
                  <a class="modal-trigger"href="#modal1"><button class="btn waves-effect waves-light btn-large pink">Registrar Inscripción
                    <i class="material-icons right">save</i>
                  </button></a>
                </div>
                <div id="modal1" class="modal center-align">
                  <div class="modal-content">
                    <h5 class="center-align"id="registro">¿Confirmar inscripción?</h5>
                    <p>Presione confirmar para realizar la inscripcion</p>
                  </div>
                  <br>
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align" id="registrarInscripcion" >Confirmar</a>
                  <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align" >Cancelar</a>
                  <div class="modal-footer center-align">
                    
                  </div>
                </div>
                
              </div>
            </div>
        </div>
  </div>
  <div class="container" id="mensaje" style="display: none;">
    <div class="row">

      <div class="col s12 center-align">
        
        <h3 class="center-align" id="titulo">¡Gracias por su apoyo!</h3>
        
        <br>
        <br>
        <h5 class="center-align" id="subtitulo">Con su donativo apoya a brindar educación y una vida digna a las niñas, jóvenes y adolescente con
          discapacidad intelectual que viven en Casa María Goretti IAP</h5>
        <br>
        <br>
        <h5 id="confirmacion">-Su inscripción ha sido realizada con exito-</h4>
        <h5 id="confirmacion2">Usted recibirá un correo de confirmación una vez que su pago haya sido validado</h5>
        <br>
        <br>
      </div>
      
      <div class="row center-align container">
      <br>
      <br>
        <div class="col s6">
          <a href="pagina-principal.php" class="btn " id="botones">Regresar al menú  
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
        <div class="col s6">
          <a href="inscripcion_torneo.php" class="btn " id="botones">Registrar otro jugador 
            <i class="large material-icons right">edit</i>
          </a>
        </div>
      </div>
    </div>
  </div>

          <br>
          <div class="carousel">
            <div class="patrocinador">
            <a class="carousel-item" href="#one!"><img src="../src/img/boba_logo.png"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
            <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
            </div>
          </div>
          <br>
          <br>
        
      
    
  