<body>
<section>
    <article class="container">
        <h3>Crear Personaje</h3>
      <form class="col s12" action="crearPersonaje.php" method="POST">
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                  <input placeholder="El Mazorcas" id="nombre" name="nombre" type="text" class="validate" required>
                  <label for="nombre">Nombre del heroe</label>
                </div>
                <div class="input-field col s6">
                  <select name="clase" class="validate">
                    <option value="" disabled selected>Escoge tu clase</option>
                    <option value="1">Guerrero</option>
                    <option value="2">Mago</option>
                    <option value="3">Clerigo</option>
                    <option value="4">Ladron</option>
                  </select>
                  <label>Clase</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <input placeholder="1" name="p_inteligencia" type="number" class="validate" required max="10" min="1">
                <label for="">Inteligencia</label>
            </div>
            <div class="input-field col s2">
                <input placeholder="1" name="p_fe" type="number" class="validate" required max="10" min="1">
                <label >Fe</label>
            </div>
            <div class="input-field col s2">
                <input placeholder="1" name="p_destreza" type="number" class="validate" required max="10" min="1">
                <label >Destreza</label>
            </div>
            <div class="input-field col s2">
                <input placeholder="1" name="p_fuerza" type="number" class="validate" required max="10" min="1">
                <label >Fuerza</label>
            </div>
            <div class="input-field col s2">
                <input placeholder="1" name="p_vida" type="number" class="validate" required max="10" min="1">
                <label >Vida</label>
            </div>
            <div class="input-field col s2">
                <input placeholder="1"  name="p_aguante" type="number" class="validate" required max="10" min="1">
                <label >Aguante</label>
            </div>
          </div>
          <div class="row">
            <h4>Escoge un pacto</h4>
            <br>
            <div class="col s4">
              <label>
                <input name="pacto" type="radio" value="1" required class="validate">
                <span><img src="./src/img/sunlight.png"></span>
              </label>
            </div>
            <div class="col s4">
              <label>
                <input name="pacto" type="radio" value="2"required class="validate">
                <span><img src="./src/img/way_of_white.png"></span>
              </label>
            </div>
            <div class="col s4">
              <label>
                <input name="pacto" type="radio" value="3" required class="validate">
                <span><img src="./src/img/gravelord_servant.png"></span>
              </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col s12">
                <div class="input-field col s12" id="input">
                    <input class="btn" type="submit" value="Crear Personaje" id="inputButton">
                </div>
            </div>
          </div>
      </form>
    </article>