<article class="container">
    <h3>Preguntas</h3>
    <br>
    <div class="divider"></div>
    <br>
        <div id="preguntas">
        <h5>¿Por qué es una buena práctica separar el controlador de la vista?</h5>
        <div class= "container">
            <p>Para no generar codigo espaguetti y que todo este en su lugar, tambien ayuda para un mejor manejo de funciones y archivos</p>
        </div>
        <br>
        <h5>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</h5>
        <div class= "container">
          <li>$GLOBALS</li> Referencia todas las variables disponibles a un nivel global.
          <li>$_SERVER</li> Informacion de ejecucion y del servidor.
          <li>$_FILES</li>Elementos subidos a traves de un POST.
          <li>$_REQUEST</li>Arrat por defecto que engloba $_POST y $_COOKIE.
        </div>
        <br>
        <h5>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</h5>
        <div class= "container">
          <li>Glob()</li>
          Busca archivos usando patrones
          <div class= "container">
          <p>// get all php files AND txt files<br>
            $files = glob('*.{php,txt}', GLOB_BRACE);<br>
             
            print_r($files);<br>
            /* output looks like:<br>
            Array<br>
            (<br>
                [0] => phptest.php<br>
                [1] => pi.php<br>
                [2] => post_output.php<br>
                [3] => test.php<br>
                [4] => log.txt<br>
                [5] => test.txt<br>
            )<br>
            */</p>
          </div>
          <li>realpath()</li>
          Funciona a la par con la funcion anterior y es para obtener la ruta completa de los archivos devueltos
          <div class= "container">
          <p>
            $files = glob('../images/a*.jpg');<br>

            // applies the function to each array element<br>
            $files = array_map('realpath',$files);<br>

            print_r($files);<br>
              /* output looks like:<br>
              Array<br>
              (<br>
                  [0] => C:\wamp\www\images\apple.jpg<br>
                  [1] => C:\wamp\www\images\art.jpg<br>
              )<br>
              */<br>
          </p>
        </div>
        </div>
        <br>
        <h5>Qué es XSS y cómo se puede prevenir?</h5>
        <div class="container">
          <p>El cross-site scripting (XSS) es unavulnerabilidad muy común en las aplicaciones web, esta permite a los atacantes enviar secuencias de comandos con fines malvados en páginas web y tambien existe la posibilidad de que instalen malware en los navegadores web de los usuarios.</p>
          <p>Este se puede evitar con algunas de las siguientes maneras:</p>
            <li>Utilizar frameworks que por diseño ya vienen con protecciones para XSS, como Ruby3.Oo React JS.</li>
            <li>Codificar los datos de requerimientos HTTP no confiables en los campos de salida HTML</li>
            <li>Habilitar una Política de Seguridad de Contenido</li>
        </div>
        </div>
</article>
</section>