
<section class="referencias">
<div class="container">
    <h3>Referencias</h3>
    <div class="divider"></div>
    <br>
    <li><a href="https://www.codementor.io/php/tutorial/how-to-setup-php-development-production-server">https://www.codementor.io/php/tutorial/how-to-setup-php-development-production-server</a></li>
    <li><a href="https://code.tutsplus.com/es/tutorials/9-useful-php-functions-and-features-you-need-to-know--net-11304">https://code.tutsplus.com/es/tutorials/9-useful-php-functions-and-features-you-need-to-know--net-11304</a></li>
    <li><a href="https://es.godaddy.com/blog/que-es-el-cross-site-scripting-xss-y-como-puedes-evitarlo/">https://es.godaddy.com/blog/que-es-el-cross-site-scripting-xss-y-como-puedes-evitarlo/</a></li>
    <li><a href="https://www.php.net/manual/es/function.session-destroy.php">https://www.php.net/manual/es/function.session-destroy.php</a></li>
    <li><a href="https://www.php.net/manual/es/function.session-unset.php">https://www.php.net/manual/es/function.session-unset.php</a></li>
</div>
</section>
<br><br><br>