
<div class="container">
    <h4><?=$nombre?></h4>
    <h5>Clase: <?= $nombreClase ?></h5>
    <br>
    <div class="row">
        <div class="col s6">
            <br>
            <br>
            <img src="./src/img/<?= $foto ?>" alt="pacto">
            <h5><?= $nombrePacto ?></h5>
        </div>
        <div class="col s6">
            <table>
                <thead>
                    <tr>
                        <td>Atributo</td>
                        <td>Puntaje</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vida</td>
                        <td><?= $p_vd ?></td>
                    </tr>
                    <tr>
                        <td>Aguante</td>
                        <td><?= $p_agn ?></td>
                    </tr>
                    <tr>
                        <td>Fuerza</td>
                        <td><?= $p_frz ?></td>
                    </tr>
                    <tr>
                        <td>Destreza</td>
                        <td><?= $p_des ?></td>
                    </tr>
                    <tr>
                        <td>Inteligencia</td>
                        <td><?= $p_int ?></td>
                    </tr>
                    <tr>
                        <td>Fé</td>
                        <td><?= $p_fe ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>