.forma{
    text-align: center;
    color: snow;
}
body{
    background-color: midnightblue;
}
.confirmacion{
    font-size: 20px;
    visibility: hidden;
}
div.waterMark
{
    position: absolute;
    top: 15px;
    right: 20px;
    
}
.logo{
    height: 40px;
    width: 40px;
    opacity: 0.5;
}