#logo{
    height:75px;
	width: 75px;
}
#navbar{
    background-color: #512DA8;
    height: 80px;
}
body{
 background-color: snow;
 color: #757575;
}
h4{
    color:#757575;
}
h2{
    color: black;
}
p{
    font-size: 20px;
}
a{
    color:#757575;
}
#footer{
    background-color: #673AB7;
}
#footer_1
{
    background-color:#512DA8;
}
#_fotoDescripcion
{
    float: left;
}
.referencias{
    font-size: 20px;
    
}
nav{
    background-color: #FFC107;
    height: 90px;
}
#icon{
    color:#FFC107 ;
}